.Board #main .grid, .Board #main .score {
    float: left;
}

.Board #main {
    display: flex;
}

.Board .grid {
    order: 1;
}

.Board .score {
    order: 2;
}

/*
Individual media queries
 */
@media all and (max-width: 500px) {
    .Board {
        margin: 100px auto 0;
        width: 90%;
        padding: 0 5%;
    }
}

@media all and (min-width: 501px) and (max-width: 900px) {
    .Board {
        margin: 50px auto 0;
        width: 70%;
        padding: 0 5%;
    }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
    .Board {
        width: 75%;
        margin: 100px auto 0;
    }

    .Board #main .grid {
        width: 60%;
    }

    .Board #main .score {
        width: 40%;
    }
}

@media all and (min-width: 1201px){
    .Board {
        width: 65%;
        margin: 50px auto 0;
    }

    .Board #main .grid {
        width: 55%;
    }

    .Board #main .score {
        width: 45%;
    }
}

/*
Grouped media queries
 */

@media all and (max-width: 900px) {
    .Board #main {
        flex-direction: column;
    }

    .Board #main .grid, .Board #main .score {
        width: 100%;
    }

    .Board .grid {
        order: 2;
    }

    .Board .score {
        order: 1;
    }
}

@media all and (min-width: 901px) {
    .Board #main {
        flex-direction: row;
    }
}

.Board #difficulty {
    width: auto;
    display: flex;
    align-items: center;
}

.Board #difficulty h1 {
    flex-shrink: 2;
}

.Board #difficulty ul {
    flex-grow: 2;
}

.Board ul.rating {
    list-style-type: none;
    color: #fa6327;
}

.Board ul.rating li {
    display: inline-block;
}