.Card {
    background-color: #293246;
    margin: 5px;
    flex: 1 0 auto;
    position: relative;
    cursor: pointer;
}

.Card:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.char {
    font-size: 4vw;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.active {
    background-color: #ffa83c;
    color: #1d2636;
    visibility: visible;
}

.retired {
    visibility: visible;
}