.Card {
    background-color: #293246;
    flex: 1 0 auto;
    position: relative;
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .char {
        font-size: 8vw;
    }
}

@media all and (min-width: 501px) and (max-width: 900px){
    .char {
        font-size: 6vw;
    }
}

@media all and (min-width: 901px) and (max-width: 1200px){
    .char {
        font-size: 4.5vw;
    }
}

@media all and (min-width: 1201px){
    .char {
        font-size: 3vw;
    }
}

/*
Grouped media queries
 */

@media all and (max-width: 1200px){
    .Card {
        margin: 3px;
    }
}

@media all and (min-width: 1201px){
    .Card {
        margin: 5px;
    }
}

.Card, .char, .active {
    border-radius: 3px;
}

.Card:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

.char {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.1;
}

.active {
    background-color: #ffa83c;
    color: black;
    opacity: 1;
    visibility: visible;
}

.retired-easy, .retired-medium {
    opacity: 1;
    visibility: visible;
}

.retired-hard, .retired-hell {

}