@media all and (max-width: 500px) {
    .Home {
        width: 100%;
        margin: 100px auto 0;
    }
}

@media all and (min-width: 501px) and (max-width: 900px) {
    .Home {
        width: 60%;
        margin: 150px auto 0;
    }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
    .Home {
        width: 30%;
        margin: 150px auto 0;
    }
}

@media all and (min-width: 1201px){
    .Home {
        width: 20%;
        margin: 200px auto 0;
    }
}

.Home header {
    text-align: center;
    width: 100%;
}

.Home header a {
    display: inline-block;
    clear: both;
    margin: 0 auto 10px;
}

.Home header img {
    width: 40%;
    height: auto;
}

.Home header #title {
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration: none;
    width: auto;
    transition: 0.2s cubic;
}

.Home header #title:hover {
    color: #fa6327;
    transition: 0.2s cubic;
}

.Home a {
    color: #a6b0d4;
}

.Home ul {
    list-style-type: none;
    margin: 4% 0;
    padding: 0;
}

.Home ul li {
    border-bottom: solid 1px #3b4c68;
    padding-left: 1rem;
    font-size: 1.2rem;
    position: relative;
    color: lightgray;
}

.Home ul li:hover, .Home a:hover {
    color: #ffa83c;
}

.Home ul li:active, .Home a:active {
    color: #fa6327;
}

.Home ul li:before {
    color: inherit;
    content: "\279C";
    display: block;
    padding: 0.5em 20px;
    position: absolute;
    z-index: -1;
    right: 0;
}

.Home ul li a {
    color: inherit;
    display: inline-block;
    width: 100%;
    padding: 0.5em 0;
    text-decoration: none;
}

.Home ul li:first-child {
    border-top: solid 1px #3b4c68;
}

.Home footer {
    text-align: center;
}

.Home footer div {
    display: inline-block;
    padding: 0 1em;
}

.Home .git {
    text-align: center;
    font-size: 1.5em;
}