.Logo {
    position: static;
    top: 0;
    padding: 10px;
    background-color: #ffa83c;
    display: inline-block;
}

@media all and (max-width: 500px){
    .Logo {
        margin-left: 5%;
    }
}

@media all and (min-width: 501px) and (max-width: 900px){
    .Logo {
        margin-left: 15%;
    }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
    .Logo.pages {
        margin-left: 25%;
    }

    .Logo.board {
        margin-left: 12%;
    }
}

/*
grouped
 */

@media all and (min-width: 1201px) {
    .Logo.pages {
        margin-left: 35%;
    }
    
    .Logo.board {
        margin-left: 18%;
    }
}

.Logo a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.Logo a:hover {
    color: whitesmoke;
}