@media all and (max-width: 500px) {
    .Whoops, .About {
        width: 90%;
        margin: 100px auto 0;
        padding: 0 5%;
    }
}

@media all and (min-width: 501px) and (max-width: 900px) {
    .Whoops, .About {
        width: 70%;
        margin: 125px auto 0;
        padding: 0 5%;
    }
}

@media all and (min-width: 901px) and (max-width: 1200px) {
    .Whoops, .About {
        width: 50%;
        margin: 150px auto 0;
    }
}

@media all and (min-width: 1201px){
    .Whoops, .About {
        width: 30%;
        margin: 175px auto 0;
    }
}

.Whoops p, .About p {
    color: #a6b0d4;
}